.App {
  text-align: center;
}

.App > button {
  padding: 10px;
  margin: 5px;

  background-color: skyblue;
  border: none;
  border-radius: 5px;
}

.App > div {
  background-color: rgb(0, 183, 255);
  color: white;
  padding: 30px;
}

.App > input {
  padding: 10px;
}
